* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
  color: rgb(41, 41, 41);
}

body {
  min-height: 100vh;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
figure,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

button,
input,
textarea {
  font-size: 1rem;
  outline: none;
}

.page-container {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: center;
}